@media only screen and (max-width: 1200px) {
    .title{
        font-size: 3rem;
    }
    .paragraph{
        font-size: 1rem;
    }
    .buttonSimple{
        font-size: 1rem;
    }

    input[type="text"],input[type="email"],input[type="tel"],select,textarea{  
        font-size: 1rem;
    }
    input[type="submit"]{
        font-size: 1rem; 
    }
    
    #contactForm{
        width: 75%;
    }

    .menuBarItemContainer{
        margin:0rem;
    
    }

    #menuToggle{

        font-size: 2rem;
    }

    .menuBarItem{
        font-size: 2rem;
    }

    
  }


  @media only screen and (max-width: 600px) {
    #menuContainer{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    #aboutContainer{
        grid-template-columns: 1fr;
    }
    #contactFormContainer{
        grid-template-columns: 1fr;
    }
    #servicesContainer{
        grid-template-columns: 1fr;
    }
    #contestContainer{
        grid-template-columns: 1fr;
    }

  }