::-webkit-scrollbar {
    display: none;
}

html{
    height: 100%;
    width: 100%;
    overflow: visible;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;

    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,3,29,1) 19%, rgba(2,11,75,1) 100%);
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0;
}

#root{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0;
}

a{
    text-decoration: none;
    color:white;
    font-family: "Segoe UI";
}

#menuButton{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-family: "Segoe UI";
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    margin: 2rem;
}

#menuBarContainer{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    justify-items: start;
    width: 100%;
    position: absolute;
}

#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,3,29,1) 19%, rgba(2,11,75,1) 100%);
    align-items: center;
    justify-items: center;
    display: none;
    column-gap: 1rem;
    row-gap: 1rem;
}

.menuBarItemContainer{
    margin:2rem;

}

#menuToggle{
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    position: fixed;
}

.menuBarItem{
    cursor: pointer!important;
    margin: 0;
}

.menuBarItem:hover{
    transform: scale(1.1);
}

.title{
    color:white;
    font-size: 10rem;
    font-family: "Segoe UI";
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.paragraph{
    color:white;
    font-size: 1.5rem;
    font-family: "Segoe UI";
    text-align: center;
    margin:0;
}

#homeContainer{
    display: grid;
    width: 90%;
    text-align: center;
 
}
#logoContainer{
    text-align: center;
}

#menuContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    margin-top:5rem;
    column-gap: 1rem;
    width: 100%;
}

.buttonSimple{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-family: "Segoe UI";
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0;
}

.buttonSimple:hover{
    background-color: white;
    color:black;
}

.menuItem{
    width: 100%;
}

label{
    font-size: 1rem;
    color:white;
    font-family: "Segoe UI";
}

input,select,textarea{
    margin-bottom: 2rem;
}

textarea{
    resize: none;
}

input[type="text"],input[type="email"],input[type="tel"],select,textarea{
    background-color: transparent;
    outline: none;
    border:none;
    border-bottom: 3px solid white;
    width: 100%;
    font-size: 2rem;
    color: white;
    font-family: "Segoe UI";

}

input[type="submit"]{
    width: 100%;
    background-color:transparent;
    color: white;
    font-size: 2rem;
    font-family: "Segoe UI";
    border: 3px solid white;
    cursor: pointer;
    padding: 1rem;
}

input[type="submit"]:hover{

    background-color: white;
    color: black;
 
}

option{
    background-color: black!important;
    color: white;
    cursor: pointer;
}

#contactFormContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
#contactForm{
    width: 50%;
}

#aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.aboutText{

    word-wrap: break-all;
    white-space: normal;
}

#servicesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;

}
.serviceTitleBox{
    border:3px solid white;
    padding: 1rem;
}

#servicesListContainer{
    display: grid;
    grid-template-columns: 1fr;    
    column-gap: 1rem;
    row-gap: 1rem;
}

#errorContainer,#notFoundContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

#phoneContainer{
    display: grid;
    grid-template-columns: 2fr 10fr;
    column-gap: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: white !important;
}